

{{!-- <p>{{team}}</p> --}}
{{!-- big div container --}}
<div class="row">
    {{!-- left side of the screen --}}
    <div class="col s6">
        {{!-- chosen team stats --}}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <div id="content"></div>
        {{!-- <p>2021 Season Stats for the {{team}}:</p>
        <p>Games: {{games}}</p>
        <p>Assists: </p>
        <p>Blocks: </p>
        <p>Steals: </p>
        <p>Points: </p>
        <p>Fast break points: </p>
        <p>Points in the paint: </p> --}}

    </div>
    <script id="myTemplate" type="text/x-handlebars-template">
        <div>
            <p>2021 Season Stats for the {{team}}:</p>
            <p>Games: \{{games}}</p>
            <p>Assists: \{{assists}}</p>
            <p>Blocks: \{{blocks}}</p>
            <p>Steals: \{{steals}}</p>
            <p>Points: \{{points}}</p>
            <p>Fast break points: \{{fastBreakPoints}}</p>
            <p>Points in the paint:\{{pointsInPaint}}</p>
        </div>
      </script>
    {{!-- right side of the screen --}}
    {{!-- questions for predictions will go here and answers will populate in table (not shown to user) --}}
    <section class="predictionBox">
    <div class="col s6">
        <div class="row">
            <form class="predictionForm">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Ex. Hawks" id="winningTeam" type="text" class="validate">
                        <label for="win">Who do you think will win?</label>
                    </div>
                </div>
                <div class="input-field col s8">
                    <input placeholder="Ex. Heat" id="losingTeam" type="text" class="validate">
                    <label for="loss">Who do you think will lose?</label>
                </div>
                <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Ex. 123" id="winningScore" type="text" class="validate">
                    <label for="winScore">What do you think the winning team score will be?</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ex. 112" id="losingScore" type="text" class="validate">
                    <label for="loseScore">What do you think the losing team score will be?</label>
                </div>
                <div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right"></i>
                             </button>
        
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
</section>
<script src="/js/teamChoice.js"></script>
<script type='text/javascript' src='/js/teamChoice.js'></script>
{{!-- <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script> --}}